<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
        <pipelines>
            <httpRequestBegin role:require="Standalone or ContentManagement or DedicatedDispatch or ContentDelivery">
                <processor type="Sitecore.Modules.EmailCampaign.Core.Pipelines.HttpRequestBegin.OnHttpRequestBegin, Sitecore.EmailCampaign" set:type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.HttpRequestBegin.OnHttpRequestBegin, Sitecore.Support.461807"/>
            </httpRequestBegin>
        </pipelines>
    </sitecore>
</configuration>